@import "tailwindcss";

/* Basic css setup */

/* Colors, start custom color with color */
@theme {
  --color-background: #8f56cc;
  --color-secondary: #5d4ec4;
  --color-base: #e6ebf4;
  --color-content: #22232c;
  --color-content-alter: #717586;
  --color-outer: #d1d5e0;
}

@layer base {
  html {
    @apply scroll-smooth scroll-pt-24;
  }
  body{
    @apply bg-base  text-content;
  }
}

.custom-gradient{
  background: linear-gradient(135deg, #3f97fc 0%,  #1932a1 100%);
}

text-gradient{
  color: #113baf;
  background: #2048ca;
  background: -webkit-linear-gradient(15deg, #2341c9 0%, #5d4ec4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}